extends ../layouts/layout

block content
  .d-flex.justify-content-center.align-items-center(style="min-height: 50vh;")
    .card.p-4.shadow.rounded(style="width: 100%; max-width: 400px;")
      h2.text-center.mb-4 Register

      form(method='POST', action='/register')
        .mb-3
          label.form-label(for='username') Username
          input.form-control(type='text', name='username', required, placeholder='Enter username')

        .mb-3
          label.form-label(for='password') Password
          input.form-control(type='password', name='password', required, placeholder='Enter password')

        button.btn.btn-primary.w-100(type='submit') Register

      p.text-center.mt-3
        | Already have an account?
        a(href='/login')  Log In
