extends ../layouts/layout

block content
  h1 Create New Post
  form(method='POST', action='/posts')
    .mb-3
      label.form-label(for='title') Title
      input.form-control(type='text', name='title', required)
    .mb-3
      label.form-label(for='content') Content
      textarea.form-control(name='content', rows='5', required)
    .mb-3
      label.form-label(for='tags') Tags (comma separated)
      input.form-control(type='text', name='tags')
    button.btn.btn-success(type='submit') Create Post
